.about-container {
    width: 80%;
    margin: auto;
    padding-top: 2rem;
}

.about-text {
    margin-top: 2rem;
    color: $violet;

    a {
        text-decoration: none;
        color: inherit;
    }

    a:hover {
        color: $turquoise;
    }
}

.turquoise {
    color: $turquoise;
}

.about-credits {
    font-size: 12px;
    color: $violet;
        a {
            text-decoration: none;
            color: $turquoise;
        }
}