.form-container {
    padding: 1rem;
}

.item-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin-bottom: 2rem;

    input, textarea, select {
        margin: 1rem;
        border-radius: 6px;
        border: 1px solid $turquoise;
        padding: 0.5rem;
    }
}

.form-info {
    color: $violet;
    margin-left: 1rem;
}

.image-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

        button {
            margin-top: 2rem;
            width: fit-content;
        }
}

.edit-image-container {
    display: flex;
    justify-content: space-around;
    width:fit-content;

    .edit-image {
        margin: 1rem;
    }
}

.form-buttons {
    width: fit-content;
    margin: auto;
}

.fit-input {
    height: 2.5rem;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .form-container {
        margin-left: 5rem;
    }

    .item-form {
        width: 50%;
    }
}
