.navbar-logo {
    color: $turquoise !important;
    font-family: 'Fredericka the Great', cursive;
}

.navbar-logo-img {
    height: 30px;
}

.form-inline {
    display: inline-flex;
}

.search-btn-nav {
    margin-left: 1rem;
}

