.show-container {
    padding: 1rem;

    img {
        width: 100%;
        height: auto;
    }
}

.show-image {
    height: 30vh;
    margin: 1rem 1rem 1rem 0;
}

.show-icon {
    color: $turquoise;
    width: 1.5rem;
}

.show-buttons {
    max-width: 117px;
}