// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Open Sans', sans-serif;
$font-family: 'Open Sans', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$fa-font-path: "../vendor/fontawesome/webfonts";


$turquoise: #73c1cd;
$violet: #545775;
$cerise: #D35269;
$light-violet: #bdbfd0;

